{% extends 'header.html' %}
{% block orta %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="thumbnail">
                    <div class="caption">
                        <table border="3" style="width:520px">
                        <tr>
                        <td> İşlem Yapanın Adı:</td><td><a href="{{ hereket.get_absolute_url }}"><h3>{{ hareket.adsoyad }}</h3></a></td>
                        </tr>
                        <tr><td>Açıklama:</td><td>{{ hareket.aciklama|safe|linebreaks|truncatechars:150}}</td></tr>
                        <tr><td>Kitap Adı:</td><td>{{ hareket.kitapadi}}</td></tr>
                        <tr><td>Alış Tarihi:</td><td>{{ hareket.alistarihi}}</td></tr>
                        <tr><td>Veriliş Tarihi:</td><td>{{ hareket.verilistarihi}}</td></tr>
                        </table>
                         <a href="{{ hareket.get_absolute_url2 }}" class="btn btn-primary" role="button">İncele</a>
                         <a href="{{ hareket.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                         <a href="{{ hareket.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock orta %}