{% extends 'header.html' %}
{% block orta %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="thumbnail">
                    <div class="caption">
                        <table border="10" cellspacing="2" cellpadding="2" >
                        <tr><td><h4>Adı ve Soyadı</h4></td><td><h3>{{ kisi.adsoyad}}</h3></td></tr>
                        <tr><td><h4>Sınıfı</h4></td><td><h4>{{ kisi.sinifi }}</h4></td></tr>
                        <tr><td><h4>Nosu</h4></td><td><h4>{{kisi.nosu}}</h4></td></tr>
                        <tr><td><h4>Telefonu</h4></td><td><h4>{{ kisi.telefonu }}</h4></td></tr>
                        <tr><td>Açıklama</td><td>{{ kisi.aciklama }}</td></tr>
                        </table>
                        <a href="{{ kisi.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                        <a href="{{ kisi.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock orta %}