{% extends 'header.html' %}
{% block orta %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Kitap Adı <a href="{{ kitap.get_absolute_url }}">{{ kitap.kitapadi }}</a></h3>
                        <p>{{ kitap.aciklama|safe|linebreaks}}</p>
                        <a href="{{ kitap.get_update_url }}" class="btn btn-default" role="button">Güncelle</a>
                        <a href="{{ kitap.get_delete_url }}" class="btn btn-danger" role="button">Sil</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock orta %}